html,
body {
    margin: 0;
    padding: 0;
    font-family: "Handlee";
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@media screen and (min-width: 800px) {
    html, body {
        font-size: 23px;
    }
}

#content {
    padding: 20px;
}

a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    text-decoration: underline;
}

#top-bar h1 {
    padding: 0;
    margin: 0;
    font-family: "Beth Ellen";
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.hero {
    display: flex;
    flex-direction: column;
    background-image: url("../images/hero.jpg");
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-position: right bottom;
}

.nav {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px -6px #222;
    z-index: 10;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    font-family: "Beth Ellen";
    display: inline-block;
    font-size: 22px;
    color: #303030;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    align-items: center;
    font-size: 18px;
    margin-right: 10px;
}

.nav>.nav-links>a {
    display: inline-block;
    margin: 13px;
    text-decoration: none;
    color: #303030;
}

.nav>.nav-links>a:hover {
    background-color: #EEEEEE;
}

.nav>#nav-check {
    display: none;
}


@media (max-width:600px) {
    .nav>.nav-btn {
        display: flex;
    }

    .nav>.nav-btn>label {
        align-items: center;
        padding: 5px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #303030;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #FFFFFF;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

.timeline-wrapper ul,
li {
    list-style: none;
    padding: 0;
}

.sessions {
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
}

.timeline-wrapper li {
    padding-bottom: 1.5rem;
    border-left: 1px solid #303030;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
}

.timeline-wrapper li:last-child {
    border: 0px;
    padding-bottom: 0;
}

.timeline-wrapper li:before {
    content: '';
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #303030;
    box-shadow: 3px 3px 0px #EEEEEE;
    box-shadow: 3px 3px 0px #EEEEEE;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
}

.time {
    font-weight: bold;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: .25rem;
    border: solid 2px #EEEEEE;
    width: 100%;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
}

.price {
    font-family: Arial;
}

thead tr:first-child {
    border: none;
    background: #EEEEEE;
}

td {
    border-bottom: solid 1px #EEEEEE;
}

th {
    font-weight: bold;
    border: solid 1px #EEEEEE;
}

@media screen and (min-width: 800px) {
    .form-section {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

@media screen and (max-width: 799px) {
    .radio-group {
        margin-top: 15px;
    }
}

.form-section {
    gap: 16px;
    line-height: 2;
    border: solid 1px #CCCCCC;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
}

.form-section h1 {
    line-height: initial;
    margin: 0;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: solid 1px #EEEEEE;
}

.form-section p {
    grid-column-start: 1;
    grid-column-end: 3;
}

.form-section:not(:last-child) {
    margin-bottom: 20px;
}

.form-section > label {
    grid-column: 1;
    display: block;
}

.form-section > textarea {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

.form-divider {
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: solid 1px #CCCCCC;
    margin-top: 10px;
    margin-bottom: 10px;
}

.radio-label {
    grid-column: 1;
}

.radio-group {
    grid-column-start: 2;
    grid-column-end: 3;
}

.dietary {
    display: block;
    font-size: smaller;
    font-style: italic;
}

.servedwith {
    display: block;
    font-size: smaller;
    font-style: italic;
}